h1 {
    
    height: 50px;

    .header__image {
        width: auto;
        height: 100%;
        background-color: white;
        vertical-align: top;
    }

    .header__text {
        padding-left: 15px;
    }
}