
.details__description {

    height: 100%;

    label {
        font-weight: 900;
    }

    img {
        float:left;
        margin-right: 15px;
    }
}

.related__movies {
    display: inline-block;
}

